<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {{- if .IsHome -}}
    {{ site.Title }}
  {{- else -}}
    {{ .Title }} | {{ site.Title }}
  {{- end -}}
</title>

{{ with .Description }}
  <meta name="description" content="{{ . }}">
{{ end }}

{{ with resources.Get "css/style.css" }}
  {{ $css := . | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{ end }}

{{ with resources.Get "css/navigation.css" }}
  {{ $css := . | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{ end }}
